<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/posts/<%=post.id%>?_method=PATCH">
    <h3>The detailed info of post </h3>
    <h4>id:<%=post.id%></h4>
    <h4>username:<%=post.username%></h4>
    <textarea name="content"><%=post.content%></textarea>
    <button>submit</button>
</form>
</body>
</html>